<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>  URL SHORTENER</h1>
    <div>
        <form method="POST" action ="/url">
            <label> Enter your url</label>
            <input placeholder="https://example.com" name = "url">
            <button type ="submit"> Generate</button>

        </form>
    </div>

</body>
</html>